@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SB Admin 2 - Dashboard</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,800,900" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3">Hotel Management</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">Interface</div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Dashboard Demo</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Booking" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Booking</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Customer" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Customer</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Payment" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Payment</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Room" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Room</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="RoomType" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>RoomType</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Staff" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Staff</span>
                </a>
            </li>

          
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"><i class="fa fa-bars"></i></button>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for...">
                            <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fas fa-search fa-sm"></i></button></div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown"><span class="mr-2 d-none d-lg-inline text-gray-600 small">Prince Bhalodiya</span><img class="img-profile rounded-circle" src="~/img/undraw_profile.svg" /></a>
                        </li>
                    </ul>
                </nav>

                <!-- Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; Your Website 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>


